body {
  background-color: #ccc;
}

#container,
#readme {
  background-color: #fff;
  line-height: 24px;
  margin: 40px auto;
  padding: 20px;
  width: 740px;
}

#container {
  /* height: 510px; */
}

#board {
  border: 1px solid #000;
  border-collapse: collapse;
  margin: 10px auto;
}

#board td {
  border: 0;
  height: 4px;
  width: 4px;
}
