body {
  background-color: #ccc;
}

#controls,
#readme {
  background-color: rgba(255, 255, 255, .5);
  line-height: 24px;
  margin: 40px auto;
  padding: 20px;
  width: 740px;
}

#readme {
  position: absolute;
  bottom: 0;
}

#display {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
